.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.main {
  overflow: scroll;
  flex: 1 1 auto;
}

.sidebar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
  gap: 0.25rem;
}
